/* Mengakses google font*/
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

/*Style pada body*/
body {
    font-family: 'PT Serif', Arial, Helvetica, sans-serif;
    font-size: larger;
    padding: 0;
    margin: 0;
}

/*Style pada main, seluruh bagian yang ber tag h2*/
main h2 {
    color: blue;
}

/*Style pada main, seluruh bagian yang ber tag h3*/
h3 {
    color: blue;
}

/*Style pada Navigasi menu*/
nav {
    background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
    padding: 20px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: width 0.6s linear;
    position: sticky;
    top: 0;
}
  
nav.active {
    width: 100%;
    position: sticky;
    top: 0;
}
  
nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 0;
    top: 0;
    transition: width 0.6s linear;
    overflow-x: hidden;
}
  
nav.active ul {
    width: 100%;
    position: sticky;
    top: 0;
}
  
nav ul li {
    transform: rotateY(0deg);
    opacity: 0;
    transition: transform 0.6s linear, opacity 0.6s linear;
}
  
nav.active ul li {
    transform: rotateY(360deg);
    opacity: 1;
}
  
nav ul a {
    position: relative;
    color: white;
    text-decoration: none;
    margin: 0;
}
  
.icon {
    background: linear-gradient(60deg, rgba(0, 172, 193, 1) 0%, rgba(84, 58, 183, 1) 100%);
    border: 0;
    cursor: pointer;
    padding: 0;
    position: relative;
    height: 30px;
    width: 30px;
}
  
.icon:focus {
    outline: 0;
}
  
.icon .line {
    background-color: #5290f9;
    height: 2px;
    width: 20px;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: transform 0.6s linear;
}
  
.icon .line2 {
    top: auto;
    bottom: 10px;
}
  
nav.active .icon .line1 {
    transform: rotate(-765deg) translateY(5.5px);
}
  
nav.active .icon .line2 {
    transform: rotate(765deg) translateY(-5.5px);
}

/*Style pada List bagian main*/
a {
    text-decoration: none;
    font-size: 19px;
    font-weight: 500;
    color: blue;
}

a:hover {
    font-weight: bold;
}

li {
    list-style-type: none;
    margin-right: 10px;
}

/*Style pada Header*/
.utama {
    text-align: center;
    position: relative;
    background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
    color: white;
    font-size: 20px;
    padding-top: 60px;
}

.waves {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
}

header {
    display: inline;
}

/*Style pada header yang berada di aside*/
.tentang header {
    text-align: center;
}

/*Mengatur ukuran logo smk yang berada di header aside*/
.tentang-png {
    width: 185px;
}

/*Style pada Seluruh foto yang mempunyai class articel-image*/
.articel-image {
    width: 100%;
    max-height: 580px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/*Style pada Seluruh figure yang mempunyai class foto-figure*/
.foto-figure {
    width: 100%;
    max-height: 580px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/*Style pada bagian sub dari artikel mpls, yang bagian jika di klik fotonya 2 kali akan muncul jumlah seberapa banyaknya nanti*/
h4 {
    margin-bottom: 0;
    text-align: center;
}
  
small {
    display: block;
    margin-bottom: 20px;
    text-align: center;
}
  
.fa-heart {
    color: red;
}
  
.articel-image .fa-heart {
    position: absolute;
    animation: grow 0.6s linear;
    transform: translate(-50%, -50%) scale(0);
}
  
@keyframes grow {
    to {
      transform: translate(-50%, -50%) scale(10);
      opacity: 0;
    }
}

/*Style pada seluruh konten yang berada di tag main*/
main {
    padding: 30px;
    overflow: auto;
}

/*Style pada tag yang ber id kan content*/
#content {
    float: left;
    width: 75%;
    padding-right: 20px;
}

/*Membuat tampilan kartu pada seluruh bagian main konten yang ber class kan card*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 30px;
}

/*Style pada bagian aside*/
aside {
    float: right;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 30px; 
}

/*membuat seluruh konten supaya border box*/
* {
    box-sizing: border-box;
}

/*Style pada seluruh bagian footer*/
footer{
	position: fixed;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
}


.footer-distributed{
	background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px 'PT Serif', Arial, Helvetica, sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 25px 'PT Serif', Arial, Helvetica, sans-serif;
	margin: 0;
}

/* Keterangan */

.footer-distributed h3 span{
	color: yellow;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
    font-size: 16px;
}

.footer-distributed .footer-name{
	color: darkgrey;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  white;
	color: rgba(84, 58, 183, 1);
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
    font-size: 10px;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:10px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  yellow;
	text-decoration: none;;
    font-size: 10px;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-about{
	line-height: 20px;
	color:  darkgrey;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: white;
	border-radius: 2px;

	font-size: 20px;
	color: rgba(84, 58, 183, 1);
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/*Agar tampilan menjadi responsive pada perangkat mobile*/
@media screen and (max-width: 1000px) {
    #content,
    aside {
      width: 100%;
      padding: 0;
    }

    .footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

    footer { position: static; }
}    